/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: Cornflower Blue;
}

UL {
    list-style-type: none;
    background-color; aliceblue;
    border: 1px solid black;
}
